extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1 #{data.projects[id - 1].project_name}
        p #{data.projects[id - 1].description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in data.projects[id - 1].technologies
            li #{technology}
        a.btn-link(href=`${data.projects[id - 1].live_link}`, target="_blank") Live Demo
        a.btn-link(href=`${data.projects[id - 1].github_link}`, target="_blank") GitHub Repo
    .project-img-box.box

      img.project-img(src=`${data.projects[(id - 1)].image_urls[1]}`, alt='')
      img.project-img(src=`${data.projects[(id - 1)].image_urls[2]}`, alt='')
      img.project-img(src=`${data.projects[(id - 1)].image_urls[3]}`, alt='')
    nav.nav
      a(href='/')
        span &larr;
        |  Back
